<section>
    <div id="login" class="form-container">
        <h1>login form</h1>
        <form action="#">
            <div class="control">
                <label for="email">Email</label>
                <input type="text" name="Email" id="email">
            </div>
            <div class="control">
                <label for="psw">Password</label>
                <input type="password" name="psw" id="psw">
            </div>
            <span><input type="checkbox" > Remember me.</span>
            <div class="control">
                <input type="submit" value="Login">
            </div>
        </form>
        <div class="link">
            <a href="#">Forgot password ?</a>
        </div>
    </div>
</section>