<!--Section: Content-->
<section id="services" class="text-center dark-grey-text">

    <!-- Section heading -->
    <h2 class="font-weight-bold mb-4 pb-2">Job Samples</h2>
    <!-- Section description -->
    <p class="lead grey-text mx-auto mb-5"></p>

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mb-4">

            <i class="fas fa-chart-area fa-3x red-text"></i>
            <h5 class="font-weight-bold my-4">Plumbers</h5>
            <p class="grey-text mb-md-0">.
            </p>
            <img src="../assets/images/SUKI.jpg" alt="Image" width="350" height="300">

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-4">

            <i class="fas fa-book fa-3x cyan-text"></i>
            <h5 class="font-weight-bold my-4">Carpenters</h5>
            <p class="grey-text mb-md-0">.
            </p>
            <img src="../assets/images/people.jpg" alt="Image" width="350" height="300">

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-4">

            <i class="far fa-comments fa-3x orange-text"></i>
            <h5 class="font-weight-bold my-4">Project Engineer</h5>
            <p class="grey-text mb-0">.
            </p>
            <img src="../assets/images/dd.jpg" alt="Image" width="350" height="300">

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</section>
<!--Section: Content-->
